[2016-06-27 16:27] rei-vilo opened #1 "Duplicated upload.maximum_size with one correct value and one wrong value"
File `boards.txt` contains `MSP-EXP432P401R.upload.maximum_size` twice.

Keep the first, _i.e._ `=262144`, only.

[code]

[2016-06-29 19:40] RickKimball opened #2 "Seems like many of the library architecture properties are marked as CC3200 instead of msp432"

[2016-06-29 22:14] robertinant commented on #1
Fixed with 22301bef4ac74fe41aa7f13706a4d497dab77430

[2016-06-29 22:14] #1 closed, assigned to nobody

[2016-06-29 22:18] robertinant commented on #2
Fixed with c4a0f3fde3a36d31f320802c255ce2279b0e5481

Will do the same for the other cores

[2016-06-29 22:20] #2 closed, assigned to nobody

[2016-07-01 08:11] rei-vilo opened #3 "RAM Size boards.txt Entry Consistency"
Updated `boards.txt` for **MSP432** and **MSP430** uses `maximum_data_size`

when **Tiva C** and **CC3200** use `maximum_ram_size`

[2016-08-03 20:32] ablatner opened #4 "Stream::timedRead hangs in call to HardwareSerial::read"
Stream::timedRead repeatedly calls HardwareSerial::read without checking if a byte is available. The timer is checked in between calls to read, but within read Semaphore_pend is called with a timeout of BIOS_WAIT_FOREVER. This means that timedRead only returns after a byte is received after the timeout expires. In other words, if all data is received within the timeout, timedRead never returns. Ch

[2016-08-04 17:39] ablatner opened #5 "Serial.readString and Stream.readString are undocumented"
These are documented on Arduino's website but not on Energia's. However these are impacted by #4. While this is an inefficient function, it's the simplest from the perspective of beginner users.

[2016-08-29 21:41] robertinant opened #6 "Provide more configurable Serial.begin variants"
_From @dronus on June 19, 2016 16:59_

It would be nice if bitcount, stopbit and parity would be configurable by `Serial.begin`.

While Arduino libraries may be hacked to use different settings, the more complex controllers like MSP432 are using precompiled libraries and it is almost impossible to change those settings.
This is sad as some peripherial hardware require different settings.

For most

[2016-08-29 21:41] robertinant commented on #6
_From @rei-vilo on June 19, 2016 17:14_

Linked to #835.

[2016-08-29 21:42] robertinant opened #7 "Add documentation on MSP432 binary blob build procedures"
_From @dronus on July 14, 2016 13:25_

I have filed some bugs the last month on MSP432 and would like to contribute solutions. However, the MSP432 EMT core ships binary blobs, hidden inside trees of a plethora of Energia and third party (TI) contributed files.

Please add some READMEs explaining what files of this mess are actually used, what of them are sources for the binary blobs, and how to re

[2016-08-29 21:42] robertinant commented on #7
_From @rei-vilo on July 14, 2016 13:33_

What do you call a `blob`?

[2016-08-29 21:42] robertinant commented on #7
_From @rei-vilo on July 14, 2016 13:35_

See #907.

[2016-08-29 21:42] robertinant commented on #7
_From @dronus on July 14, 2016 14:25_

With `blob`, I mean binary objects (some files inside the EMT tree) that are linked but from unclear origin (like the source is not provided, or in this case, I guess it is provided, but their source location and procedures how to rebuild it are unclear).

This is in contrast to the Arduino IDE, where the build process relies on sources, so anything inside th

[2016-08-29 21:42] robertinant commented on #7
_From @rei-vilo on July 14, 2016 14:29_

See [Energia / EMT](https://github.com/energia/emt).

[2016-08-29 21:42] robertinant commented on #7
_From @dronus on July 14, 2016 16:27_

How does https://github.com/energia/emt relate to the files in energia//hardware/emt/ ?   It seems there are many more files in `energia//hardware/emt/`, on the other hand the top level Makefiles are missing.

The documentation of https://github.com/energia/emt on the other hand does a lot of explanation how to handle different GIT providers, but not so much

[2016-08-29 21:42] robertinant commented on #7
_From @dronus on July 14, 2016 16:42_

Maybe we can get through this by a little example. Consider changing the amount of stop bits for Serial.

I edit `energia/hardware/emt/ti/runtime/wiring/HardwareSerial.cpp`, which I GUESS is the responsible file (there are several more implementations of HardwareSerial in energia/hardware/ of course).
I add the line `uartParams.stopBits = UART_STOP_TWO;` to t

[2016-08-29 21:43] robertinant opened #8 "Static code can not configure pins on MSP432"
_From @dronus on June 18, 2016 16:37_

Even if pure libraries (only using the Arduino / Energia API) are used, some of them show odd behavior on the MSP432.

For example, the LiquidCrystal library only works on certain pin numbers, while crashing the MCU on others.

It however works well, if it is modified to do all pin initalisation (like pinMode) in begin(), so that it is actually called by setu

[2016-08-29 21:44] robertinant opened #9 "MSP432 pin mapping is wrong for A9"
_From @fmilburn3 on May 5, 2016 18:48_

See this thread:  http://forum.43oh.com/topic/9614-msp-432-analog-pin-9-mapped-to-analog-pin-8/

A9 is mapped to pin 27 instead of pin 26 on the MSP432.

_Copied from original issue: energia/Energia#879_

[2016-08-29 21:44] robertinant commented on #9
_From @rei-vilo on May 5, 2016 19:8_

Is it
- the pins map

![image](https://cloud.githubusercontent.com/assets/951776/15053945/5f47bac6-1305-11e6-9ab5-c71d425194ce.jpeg)
- or the link between MCU pins and LaunchPad pins defined in `/Applications/Energia.app/Contents/Resources/Java/hardware/emt/ti/runtime/wiring/msp432/variants/MSP_EXP432P401R/pins_energia.h`?

[2016-08-29 21:44] robertinant commented on #9
_From @fmilburn3 on May 5, 2016 20:25_

The problem is in pins_energia.h - in the following line:

static const uint8_t A9 = 27;

It should read:

static const uint8_t A9 = 26;    // change this from 27 to 26

[2016-08-29 21:44] robertinant commented on #9
_From @rei-vilo on May 5, 2016 20:36_

I can't pull the fix because this specific file comes form [emt @ a350116](https://github.com/energia/emt/tree/a350116673c64a5ba71a034b3baaa384b888776e) and I don't have access to it.

[2016-08-29 21:44] robertinant commented on #9
_From @rei-vilo on May 5, 2016 20:47_

See file [/src/ti/runtime/wiring/msp432/variants/MSP_EXP432P401R/pins_energia.h line 56](https://github.com/rei-vilo/emt/blob/master/src/ti/runtime/wiring/msp432/variants/MSP_EXP432P401R/pins_energia.h#L56)

[2016-08-29 21:44] robertinant commented on #9
_From @rei-vilo on May 5, 2016 20:52_

See [Fix for A9 on MSP432 #1](https://github.com/energia/emt/issues/1) and pull-request [Fix for A9 on MSP432 #2](https://github.com/energia/emt/pull/2).

Only @robertinant can commit it.

[2016-08-29 21:44] robertinant commented on #9
_From @rei-vilo on May 5, 2016 20:53_

@fmilburn3 Thank you so much for noticing the bugs and providing the details!

[2016-08-29 21:45] robertinant opened #10 "MSP432 — digitalRead() in ISR not working"
_From @JasonParmenter on April 16, 2016 23:15_

The code below demonstrates that the digitalRead() function does not work inside of an ISR.

[code]

_Copied from original issue: energia/Energia#873_

[2016-08-29 21:45] robertinant commented on #10
_From @fmilburn3 on April 17, 2016 0:41_

Note that Energia doesn't seem to process CHANGE properly when specified in the attachInterrupt() function either.  See this thread:  http://forum.43oh.com/topic/9553-msp432-digitalread-interrupt-not-working/?p=72155

[2016-08-29 21:45] robertinant commented on #10
_From @abecedarian01 on April 20, 2016 5:59_

digitalRead() issue possibly related to issue [#860](https://github.com/energia/Energia/issues/860)?

[2016-08-29 21:46] robertinant opened #11 "MSP432 issue with "digitalRead()""
_From @abecedarian01 on March 8, 2016 20:40_

From 43oh.com topic: http://forum.43oh.com/topic/9426-digitalread-changes-the-state-of-the-pin/#entry71321

With the following code, setting the RED_LED pin "HIGH" then performing a read on the pin causes the pin to go LOW. If the pin is already LOW, the read does not cause it to go HIGH.

Paying close attention to the LED indicates the pin is going hi

[2016-08-29 21:47] robertinant opened #12 "MSP432 interrupts on higher pins crash"
_From @dronus on June 18, 2016 15:38_

If I use
`attachInterrupt(PUSH2,isr1,RISING);`
it works as intended.

If I however issue
`attachInterrupt(53,isr1,RISING);`
in setup(), the MCU crashes, loop() is never executed.

_Copied from original issue: energia/Energia#900_

[2016-08-29 21:47] robertinant commented on #12
_From @rei-vilo on June 18, 2016 15:49_

Is there a pin `53`?

[2016-08-29 21:47] robertinant commented on #12
_From @dronus on June 18, 2016 16:31_

Yes, Launchpad connector's Pin 53 is MSP432 pin 6 of port 7. It is on the lower row on the Launchpad.
Actually, lower pin numbers like in the 30's seem to work, as do high numbers as in the 70's, like PUSH1 and PUSH2. I guess only those where tested...  :-(

The attachInterrupt function crashes immediately if the intermediate pin numbers are chosen. No code a

[2016-08-29 21:47] robertinant commented on #12
_From @rei-vilo on June 18, 2016 17:45_

About the pins naming scheme, please refer to [Pin Naming](http://energia.nu/pin-maps/)

@dronus, Feel free to declare macros for the ports and bits names, _e.g._ `#define P8_5 41`, and commit the header so that all users could share it.

[2016-08-29 21:47] robertinant commented on #12
_From @dronus on July 14, 2016 13:16_

Any news on this? I would help by working on the bug myself if anyone could point me how to get rid of all the shipped binary blobs that are linked. Is there any documentaion how those blobs (containing the interrupt configuration etc.) are built?

[2016-08-29 21:48] robertinant opened #13 "MSP432P401R hangs when Wire.endTransmission() is executed"
_From @engiecat on February 3, 2016 6:44_

Hello.

I am a user who uses MSP432P401R, with Energia 0101E0017 (and TI CCS Cloud)
While trying to connect a slave i2c device(IMU) to the board, I discovered that MSP432P401R hangs (specifically, goes to 'sleep mode'(according to CCS Cloud debugging) then 'idle mode' when Wire.endTransmission() is executed. )
*Hang means that it doesn't execute next oper

[2016-08-29 21:48] robertinant commented on #13
_From @engiecat on February 18, 2016 2:22_

Update :
It is revealed that this was due to the difference between the operation of Arduino's endTransmission() and Energia's endTransmission. In case of failed communication, while Arduino moves on to the next operation (returning error code), Energia infinitely 'waits' for the signal, resulting in the hang.

This is probably due to the use of the I2C_

[2016-08-29 21:48] robertinant commented on #13
_From @measley on May 3, 2016 5:33_

I also ran into the same issue using an I2C motor driver. Curious why the library seemed to work on MSP430 but would freeze up on MSP432. After a decent debug session I found root cause to be endTransmission(). Did you find any fix? I can't see where to update wire library.

[2016-08-29 21:50] robertinant opened #14 "MSP432 CMSIS Update Impact on Energia?"
_From @rei-vilo on January 21, 2016 12:40_

According to [Good news ARM developers: MSP432 is now fully CMSIS compliant!](https://e2e.ti.com/blogs_/b/msp430blog/archive/2015/11/30/good-news-for-arm-developers-msp432-is-now-fully-cmsis-compliant?hootPostID=ad2d3774a59135c32f0ed38d8d0979be)
- November 2015: MSP432 MCU v3.10.00 beta release featuring MSP432 MCU with CMSIS-Core
- March 2016: official

[2016-08-29 21:50] robertinant opened #15 "Request for soft serial and parity in MSP432"
_From @Suyogaerospace on January 31, 2016 9:30_

Hi
I think all four serial ports should be made available for msp432 with parity support and if possible soft serial too.

_Copied from original issue: energia/Energia#835_

[2016-08-29 21:50] robertinant commented on #15
_From @dronus on June 28, 2016 13:9_

Actually the original Arduino variants have this settings now, see:  https://www.arduino.cc/en/Serial/Begin
So Energia should just implement the updated API.

This is especially important for the MSP432 boards, as the settings can't be changed by low level poking like it is possible on the Arduino and Energia MSP430 platforms, as it is implemented by precompil

[2016-08-29 21:50] robertinant commented on #15
_From @RickKimball on June 28, 2016 15:38_

You might look at the change I made for the msp430 with usci. The uart on the msp432 is pretty close to this. You just need to implement the appropriate arm code.

https://github.com/energia/Energia/issues/766
https://github.com/energia/Energia/commits/issue_766
http://forum.43oh.com/topic/9063-usci-patch-for-parity/

[2016-08-29 21:50] robertinant commented on #15
_From @dronus on July 14, 2016 14:12_

The UART is controlled by TI runtime libraries on the MSP432 EMT core, so this is a completely different thing. No registers are set, but TI libraries linked and configured by config struct's.

Currently these structs are only configured by the baudrate setting of Serial.begin, and this initalisation code is buried in Wiring runtime library binary blob.

So t

[2016-08-29 21:51] robertinant opened #16 "Servo could cause timer conflict with analogWrite()"
_From @robertinant on January 19, 2016 18:21_

On the MSP432, the Servo asks TI-RTOS to allocate any available timer. It is possible that in combination with analogWrite(), the timer allocated conflicts with the timer used by the Servo.

_Copied from original issue: energia/Energia#828_

[2016-08-29 21:51] robertinant opened #17 "Port OneWire library to MSP432/CC2650"
_From @robertinant on January 5, 2016 18:41_

The macros that enable direct access to the GPIO registers need to be added for the MSP432 and CC2650 architectures.

_Copied from original issue: energia/Energia#818_

[2016-08-29 21:52] robertinant opened #18 "DSLite on Energia 17 — Incorrect Syntax for C2000 and MSP432"
_From @rei-vilo on December 12, 2015 16:51_

`DSLite` complains some parameters are missing against C2000 and upload fails.
- Actually the syntax is incorrect. `-c` and `-f` are missing.

`DSLite load LAUNCHXL-F28377S.ccxml Blink.cpp.elf`
should be
`DSLite load -c LAUNCHXL-F28377S.ccxml -f Blink.cpp.elf`
- Error message and incorrect syntax from Energia

_Copied from original issue: energia/Energi

[2016-08-29 21:52] robertinant commented on #18
_From @rei-vilo on December 12, 2015 16:54_

Generally speaking, upload is very slow, especially for the F28377S.
- Is erasing each sector mandatory?
- Upload process gets stuck at 87% for almost one minute at

before

[2016-08-29 21:52] robertinant commented on #18
_From @rei-vilo on December 12, 2015 17:12_

Same issue with MSP432.

[2016-08-29 21:53] robertinant opened #19 "Galaxia Library"
_From @rei-vilo on December 12, 2015 11:52_

Today, the files related to the **Galaxia Library** are under [Energia/build/shared/examples/10.MultiTasking](https://github.com/energia/Energia/tree/master/build/shared/examples/10.MultiTasking)
- Add Galaxia as a core library under [Energia/hardware/cc2600emt/libraries](https://github.com/energia/Energia/tree/master/hardware/cc2600emt/libraries), [Ene

[2016-08-29 21:53] robertinant commented on #19
_From @rei-vilo on April 14, 2016 16:23_

Galaxia library updated to release 2.0.1 with revised and better examples after feed-back from Hacksters.io.

More at https://github.com/rei-vilo/GalaxiaLibrary

[2016-08-29 21:54] robertinant opened #20 "MSP432 Serial.available() always returns "1""
_From @croberts15 on November 3, 2015 15:48_

I am trying to interface a WiFi peripheral communicating with AT commands over UART and I am getting incorrect messages.  Trying to debug shows that Serial.available() always returned 1.  I tried running simple code that would just run Serial.available() on the COM window:

[code]

and again, Serial.available returned 1, even if I entered a long string

[2016-08-29 21:55] robertinant opened #21 "Problem with xds110 with firmware 2.2.4.2"
_From @jmgc on October 6, 2015 15:46_

In the last version of ccscloud, the xds110 from the mps432 is upgraded to the 2.2.4.2 version. When this is done, if you try to connect through Energia, the result is:

Fatal: CS_DAP_0: Error connecting to the target: (Error -263 @ 0x0) Incompatible XDS110 firmware detected.  The firmware version of the connected XDS110 debug probe does not  match the expect

[2016-08-29 21:55] robertinant commented on #21
_From @rei-vilo on October 6, 2015 15:59_

This confirms points #701 #702.

[2016-08-29 21:55] robertinant commented on #21
_From @jmgc on October 6, 2015 16:13_

I have checked with Code Composer 6.1 on Linux and it also requires to upgrade the MSP432 launchpad.

[2016-08-29 21:55] robertinant commented on #21
_From @rei-vilo on October 6, 2015 16:20_

I faced the same problem with CCS, CCS Cloud and Energia on Mac OS X, and with CCS on Mac OS X and Windows.

The problem is actually twofold.
- CCS, CCS Cloud and Energia don't share the same release of the driver.
- For a given product (_e.g._ CCS), the different platforms (_e.g._ Mac OS X and Windows) don't use the same release of the driver.

Which dis

[2016-08-29 21:55] robertinant commented on #21
_From @jmgc on October 6, 2015 19:38_

Red Hat 6

[2016-08-29 21:55] robertinant commented on #21
_From @jmgc on October 7, 2015 6:9_

I have made a test in Mac OS to see if I could upgrade easily Energia. I have made a copy of the DSLite coming from the ccscloud to the Energia directory. The DSLite has been used by energia, but it seems it uses a different set of parameters.

The Energia one uses:

[code]

while the one coming from ccscloud uses:

[code]

I assume you know it, but in Ti there

[2016-08-29 21:55] robertinant opened #22 "MSP432: GPIO Issue When Using SPI"
_From @rei-vilo on September 20, 2015 15:14_

There seems to be a problem with GPIO and SPI on the MSP432.
- See [Provide Implementation for CC3200 and MSP432 LaunchPads on Energia #26](https://github.com/repaper/gratis/issues/26#issuecomment-141774107) on the [repaper/gratis](https://github.com/repaper/gratis) repository.

- Pins Names and Numbers

| Name | Number | EPD |
| --- | --- | --- |
| `P

[2016-08-29 21:55] robertinant commented on #22
Reproduced with the Sketch below:

[code]

[2016-08-29 21:55] robertinant commented on #22
_From @rei-vilo on September 22, 2015 18:41_

Referenced in #700

[2016-08-29 21:56] robertinant opened #23 "MSP432: make analogReadResolution() compatible with Arduino"
_From @rei-vilo on August 4, 2015 14:52_

The MSP432 data sheet stipulated 14-bit ADC.

However, maximum value for `analogRead()` gives 1023, or 10-bit.

How to use the 14-bit resolution?

_Copied from original issue: energia/Energia#692_

[2016-08-29 21:56] robertinant commented on #23
You can set it with analogReadResolution(). The implementation is however not entirely compatible with the Arduino API. The Arduino API allows it to be set to any int value. It is then mapped accordingly during an analogRead(). The msp432 implementation only allows for 8, 10, 12 and 14. Any other value will result in the resolution to be set to 14 bits. I'll look into what it takes to get this cha

[2016-08-29 21:56] robertinant commented on #23
_From @rei-vilo on August 4, 2015 16:0_

Ok, thanks!

It works, so I changed the question to **MSP432: make analogReadResolution() compatible with Arduino**.

[2016-08-29 21:56] robertinant commented on #23
_From @rei-vilo on September 7, 2015 21:25_

See application for bb1c141c08 Added analogReadResolution() for MSP432

[2016-08-29 21:57] robertinant opened #24 "Create Compilation Variable ENERGIA_MT"
_From @rei-vilo on July 21, 2015 20:18_

When EMT is used, pass `ENERGIA_MT` variable on to the compiler as `-D ENERGIA_MT`.

This will allow checking EMT is available for RTOS-based libraries.

_Copied from original issue: energia/Energia#683_

[2016-08-29 22:00] robertinant opened #25 "Undefined References for GateTask"
_From @rei-vilo on June 22, 2015 8:14_

When exploring the implementation of the `GateTasks`, both embedXcode and Energia raise errors about undefined references.

Here's the code for Energia:

[code]

_Copied from original issue: energia/Energia#637_

[2016-08-29 22:03] robertinant opened #26 "Main setup() for Energia MT"
_From @rei-vilo on June 15, 2015 8:25_

The `setup()` functions in the Energia MT examples often initiliase the GPIOs, ports and objects as many times as sketches, e.g. `Serial.begin(115200);`.

This raises two issues.
- Some GPIOs, ports and objects don't accept to be initialised many times (e.g. Wire).
- The order the `setup()` functions in the sketches isn't known, so we don't know in which ske

[2016-08-29 22:03] robertinant commented on #26
_From @rei-vilo on June 20, 2015 9:40_

The file `main.template` has been edited with

[code]

and

[code]

The function `rtosSetup()` is declared —or not— on main sketch —or the optional `rtosGloblas.h`. Here, in file `MainSetup.ino`.

[code]

See pull-request https://github.com/energia/Energia/commit/0a2b4bc75e05ece4a8908aad28c88b2b858eaa1d on #629

[2016-08-29 22:04] robertinant opened #27 "Faster SPI"
_From @rei-vilo on October 18, 2014 20:5_

SPI speed tops at 8 MHz while MCUs have much faster clock speeds —e.g. 80 MHz for the LM4F120 / TM4C123 and the CC3200 120 MHz for the TM4C129.

How to get 16 MHz for SPI?

_Copied from original issue: energia/Energia#497_

[2016-08-29 22:04] robertinant commented on #27
_From @ecdr on October 28, 2014 5:51_

Even worse - I believe the speed for the current Energia SPI library for Tiva tops out at 4MHz?

In fixing this - is it desirable/necessary for the Energia SPI library on Tiva to continue to produce the same speeds as it currently does when given the SPI_CLOCK_DIV2 arguments?
(i.e. does it need to be kept backwards compatible, either with those macro names, o

[2016-08-29 22:04] robertinant commented on #27
_From @rei-vilo on July 8, 2015 18:23_

Same feature request for the MSP432, especially with the Kentec 3.5" SPI screen.

[2016-08-29 22:06] robertinant opened #28 "MSP432: modified core files are not recompiled."
_From @WestfW on March 28, 2015 3:3_

If I modify one of the core libraries for MSP432 (ie .../hardware/msp432/cores/msp432/wiring.c), a sketch build that should be using that file does not recompile the modified version.

_Copied from original issue: energia/Energia#585_

[2016-08-29 22:06] robertinant commented on #28
_From @WestfW on March 28, 2015 9:43_

Hmm.  I see that "preferences" has a "compile driverlib from source" option now, that I guess is supposed to address this?  But it doesn't seem to work:

[code]

[2016-08-29 22:06] robertinant commented on #28
Thanks for the report @WestfW really appreciate it!

1: Compile from source. This will be exposed in the GUI in the next version. For now there is an option that you can set to yes in hardware/common/Makefile called CORE_FROM_SOURCE. Currently this is set to no, change it to yes and you will compile from source.

2: You stumbled upon a bug with the "compile driverlib from source" option for MSP432

[2016-08-29 22:06] robertinant commented on #28
_From @cevatbostancioglu on August 9, 2015 2:14_

i think he try to edit msp432 energia firmware.
energia msp432 firmware have a 2 serial ports and msp432 have a 4 hw serial ports. so i edit the board_init.c file. but doesn't work. so i edit board_init.c with syntax error. so i see core libraries are not compiled.
last two days i try to run makefile with "make -f makefile" bla bla but they didn't

[2016-08-29 22:06] robertinant commented on #28
_From @cevatbostancioglu on August 9, 2015 2:37_

hello again ,
i edit CORE_FROM_SOURCE=yes , and i try to compile.
there is an errors and solutions.
1.)wiring_analog.c -> compiler can't find rom.h  , i edit driverlib/rom.h
2.)common\ti\dirver\power , in .c and .h files cannot find driverlib too. so driverlib is far from there. so i copied pcm.c , pcm.h , cs.c , cs.h to the folder. and edit "pcm.h

[2016-08-29 22:06] robertinant commented on #28
_From @cactrot on September 12, 2015 8:41_

You are correct it doesn't compile it. I am still learning the ins and outs of recursive makefiles so I used hard coded paths.

C:\energia\hardware\msp432\variants\MSP_EXP432P401R\Board_init.c
line: 48 to 56

[code]

line: 690

[code]

C:\energia\hardware\msp432\variants\MSP_EXP432P401R\makedefs
line: 70

[code]

I removed the -p from the mkdir command s

[2016-08-29 22:06] robertinant commented on #28
_From @cevatbostancioglu on September 15, 2015 14:31_

hello cactrot.
i didn't understand Then ran:
C:\energia\hardware\msp432\variants\MSP_EXP432P401R>C:\energia\tools\common\bin\
make.exe step.
can you explain again?

[2016-08-29 22:06] robertinant commented on #28
_From @cevatbostancioglu on September 23, 2015 18:40_

can you explain @cactrot ?

[2016-08-29 22:06] robertinant commented on #28
_From @cactrot on September 23, 2015 19:17_

It appears I did forget a step I had to edit "makedefs" file to remove the "if" statements that would be used to print progress info.

http://pastebin.com/p8GWTpsE

[2016-08-29 22:07] robertinant commented on #28
_From @cevatbostancioglu on September 23, 2015 20:31_

hello @cactrot thank for reply.
i can't still can't compile the makefile.
there is a picture from command prompt.
![image](https://cloud.githubusercontent.com/assets/6525009/10057809/015ba5b8-61f7-11e5-9592-2a0f9c1cd621.png)

 i try my win8.1 machine but make.exe cannot run on win8.1 64 bit. actually first 5 minutes it's works and same output

[2016-08-29 22:07] robertinant commented on #28
_From @cevatbostancioglu on September 23, 2015 20:32_

i write make -p C:\Documents and Settings\cevat\Desktop\energia0101E0016\hardware\msp432\variants\MSP_EXP432P401R
but it's  not create the lib files like you.

[2016-08-29 22:10] robertinant opened #29 "MSP432/CC3100 AP mode does not work"
_From @robertinant on May 13, 2015 14:19_

See details here: https://e2e.ti.com/support/wireless_connectivity/f/968/t/422144

_Copied from original issue: energia/Energia#619_

[2016-08-29 22:12] robertinant opened #30 "MSP432 EMT and CC3200 EMT: Incompatible DHT Grove Library"
_From @rei-vilo on July 20, 2015 16:59_

The Grove DHT library uses `noInterrupts();` and `interrupts();` for the temperature and humidity sensor.

Compilation fails with the following error messages:

_Copied from original issue: energia/Energia#675_

[2016-08-29 22:12] robertinant commented on #30
_From @rei-vilo on July 21, 2015 15:10_

Possible solution at #679.

[2016-08-29 22:12] robertinant opened #31 "MSP432: 80 MHz for clockCyclesPerMicrosecond"
_From @rei-vilo on June 18, 2015 13:37_

File **/Applications/ IDE/ Energia.app/ Contents/ Resources/ Java/ hardware/ msp432/ cores/ msp432/ Energia.h** contains

[code]

Shouldn't be `48000000`= 48 MHz instead?

_Copied from original issue: energia/Energia#633_

[2016-08-29 22:14] robertinant opened #32 "Sleep() not defined in EMT"
_From @measley on October 12, 2015 1:41_

Sleep() does not appear to be defined in EMT (MSP432, CC3200)

I replaced sleep() with delay in blink.ino and got following error.

Blink.ino:32:13: error: 'sleep' was not declared in this scope

I understand the delay already has low power modes enabled, do we need to enable sleep() API for legacy or additional modes?

_Copied from original issue: energia

[2016-08-29 22:14] robertinant commented on #32
_From @rei-vilo on December 14, 2015 18:56_

@measley

With EMT, by default, idle mode, _i.e._ no task running = sleep.

[2016-08-29 22:15] robertinant opened #33 "Implement Watchdog for Energia MT-Supported Boards"
_From @rei-vilo on December 6, 2015 17:39_

Implement watchdog for the boards supported by EMT.

HAL is provided by `Energia.app/Contents/Resources/Java/hardware/emt/ti/drivers/Watchdog.h`.

Unlike the other RTOS elements proved in the [Galaxia](https://github.com/rei-vilo/GalaxiaLibrary) library, each platform has watchdog-related specifics under the `Energia.app/Contents/Resources/Java/hardware/

[2016-08-29 22:16] robertinant opened #34 "MSP432: "Compile DriverLib from source" preference causes failed compile."
_From @WestfW on March 29, 2015 20:38_

The MSP432 support ni 0101E0015 includes a new preference item "Compile DriverLib from Source" item, but checking it results in a failed compile:

[code]

_Copied from original issue: energia/Energia#591_

[2016-08-29 22:16] robertinant commented on #34
Thanks for opening this issue! Will look into it this week!

[2016-08-29 22:16] robertinant commented on #34
_From @d-c-d on October 30, 2015 23:42_

What's the status of this?
I just encountered an issue with building the libraries on the msp432 also.

[2016-08-29 22:57] engiecat commented on #13
Nope. It seemed to work when i used 1 less endTransmission but it only resulted in garbage data.

[2016-09-15 13:42] dronus commented on #7
Bump.

[2016-09-29 15:40] robertinant commented on #23
Reviewing the analogReadResolution() API documentation, the implementation in EMT matches that of Arduino.

[2016-09-29 15:40] #23 closed, assigned to nobody

[2016-09-29 15:57] robertinant commented on #22
@rei-vilo I am no longer able to reproduce this with msp432 core 1.3.3.  Can you please verify?

[2016-09-29 16:05] robertinant commented on #17
This was added to the OneWire library. There is however a bug in the current MSP432 core. The location of driverlib is system/driverlib/MSP432P4xx/ which should be system/driverlib. Will fix this in the next release of the MSP432 core

[2016-09-29 16:08] rei-vilo commented on #22
I confirm, it works now.

[2016-09-29 17:45] robertinant commented on #22
Thanks. Will close it then

[2016-09-29 17:45] #22 closed, assigned to robertinant

[2016-10-12 17:00] robertinant commented on #11
This behaves as designed. When doing a digitalRead() on a pin that has been set as OUTPUT with pinMode() the pin is turned into a INPUT.

[2016-10-12 17:00] #11 closed, assigned to nobody

[2016-10-19 17:32] robertinant opened #35 "Wire master write fails if delay of >= 500 is inserted"
The Sketch below will print garbage. If delay is reduced to 400 ms, the Sketch behaves properly.

[code]

[2016-10-19 18:32] robertinant opened #36 "Wire master read Wire.available fails if delay of >= 500 is inserted"
The following Sketch prints garbage. If the delay is changed to 400 ms, the Sketch behaves as expected.
[code]

[2016-10-19 18:42] robertinant commented on #13
Further investigation shows that this might now be an Energia issue. If there are no pullups present on the I2C bus (with or without the slave present) Wire.endTransmission() fails. If pullups are applied, the Sketch runs as expected with or without the slave present. @engiecat, I recommend that you apply pullups and you will find that the Sketch runs as expected.

[2016-10-19 19:00] robertinant commented on #34
With the new structure of Energia 18 (inherited from Arduino 1.6 IDE and arduino-builder) I no longer have the option to compile the driverlib from source. For this reason, I unfortunately have to close this ticket.

As an alternative, you can still recompile driverlib from source using either CCS or GCC commandline. Then replace the binary in Energia with the one produced.

[2016-10-19 19:00] #34 closed, assigned to nobody

[2016-12-02 20:24] rei-vilo opened #37 "Energia 1.6.10E18 Not Self-Contained"
See Energia 1.6.10E18 Not Self-Contained #942 at https://github.com/energia/Energia/issues/942.

[2017-01-09 18:04] robertinant commented on #3
For TivaC this was fixed with commit https://github.com/energia/tivac-core/commit/c4446f677baa96373af15cc4294be6e9eaed02da
CC3200 ram_size / data_size does not apply since it is all RAM and I am using upload.maximum_size for that. I just committed a patch that removes the redundant upload.maximum_ram_size for CC3200: 90ef3bcdcd5cb626c9491976d17d3b30d265f050

[2017-01-09 18:04] #3 closed, assigned to nobody

[2017-01-09 22:57] robertinant commented on #4
This has been fixed and will be available in the next release.

[2017-01-09 22:57] #4 closed, assigned to nobody

[2017-01-09 23:11] robertinant commented on #8
This is possibly an issue with doing initialization in the libraries constructor. It is discouraged to call any functions in the constructor. There is no guarantee that the system is up at that point. For the msp432, the board initialization functions have not been called yet and hence the call to pinMode() has no affect. The LiquidCrystal needs to be modified to not call pinMode() in the construc

[2017-01-09 23:19] robertinant commented on #9
This has been fixed and will be made available in the next release due this week

[2017-01-09 23:19] #9 closed, assigned to robertinant

[2017-01-10 19:48] robertinant commented on #10
digitalRead() does work in an ISR. The issue is a result of CHANGE not implemented on MSP432. The MSP432 does not natively support interrupt on CHANGE and there is no emulated implementation for it on like there is for msp430. If attacheInterrupt() is called with CHANGE you will get FALLING. Hence a digitalRead() in the ISR will always result in a 0.

[2017-01-10 19:48] #10 closed, assigned to nobody

[2017-01-10 20:22] robertinant commented on #13
I verified this again with the latest release and it works as expected as described in the previous post. Also, when reading from a slave you should follow the following pattern and not call Wire.endTransmission().

[code]

Below is a Sketch that properly combined reading/writing from/to the slave.

[code]

[2017-01-10 20:22] #13 closed, assigned to nobody

[2017-01-10 20:24] robertinant commented on #14
It does not. TI-RTOS takes care of interfacing with the CMSIS layer.

[2017-01-10 20:24] #14 closed, assigned to nobody

[2017-01-10 20:33] robertinant commented on #18
This has been solved in Energia 18.

[2017-01-10 20:33] #18 closed, assigned to robertinant

[2017-01-10 20:37] robertinant commented on #36
Resolved and will be available in the next release.

[2017-01-10 20:37] #36 closed, assigned to nobody

[2017-01-10 20:39] robertinant commented on #32
I could do a sleep macro that simply calls delay.

[2017-01-10 20:41] robertinant commented on #35
Resolved and will be available in the next release.

[2017-01-10 20:41] #35 closed, assigned to nobody

[2017-01-10 20:53] rei-vilo commented on #32
Calling `delay()` would perform a yield.

[2017-01-10 20:54] robertinant commented on #12
Looking at this in detail, it turns out that it only supports interrupts on ports 1-6. I'll document this and will look into having attachInterrupt() fail gracefully.

[2017-01-10 20:58] robertinant commented on #33
I think we should stick this into a library. MSP430 currently (ab)uses the watchdog timer as an interval timer to keep track of millis/micros.

[2017-01-10 20:59] robertinant commented on #32
Thinking about this more, I am not going to provide sleep for any EMT targets. MSP430 will remain the only one that will have sleep.

[2017-01-10 20:59] #32 closed, assigned to nobody

[2017-01-10 21:03] rei-vilo commented on #32
As an alternative, for a non-yielding `sleep()`

[code]

[2017-01-10 21:03] rei-vilo commented on #33
That would be a great idea. For EMT-based projects, it is easy. The question is more about non-EMT projects.

[2017-01-10 23:34] robertinant commented on #30
Both noInterrupts() and interrupts() are available in all the latest MT cores.

[2017-01-10 23:34] #30 closed, assigned to nobody

[2017-01-10 23:41] dronus commented on #8
I agree that changing the LiquidCrystal library that way would solve the problem, but as the Arduino platform does not show this problem nor does it seem to define the validity of `pinMode` at certain code locations, it would be very useful to fix this in the MSP library, as this would fix not only LiquidCrystal but maybe a bunch of other libraries suffering from this inconsistency.

[2017-01-13 18:26] robertinant commented on #28
The next core release will link against the compiled core and board files vs the precompiled ones.

[2017-01-13 18:26] #28 closed, assigned to nobody

[2017-01-13 19:09] robertinant commented on #29
This was fixed a while back. Forgot to close it.

[2017-01-13 19:09] #29 closed, assigned to nobody

[2017-01-13 19:20] robertinant commented on #25
GateTaks is a very advanced feature and can lead to fatal thread behavior if not used properly hence we decided not to include.

[2017-01-13 19:20] #25 closed, assigned to robertinant

[2017-01-30 17:23] marsil88 commented on #13
I'm having the same problem with the latest version of Energia and a brand new LaunchPad. It hangs in Wire.endTransmission()
More specifically in line 180 of Wire.cpp:

ret = I2C_transfer(i2c, &(wc->i2cTransaction));

[2017-01-30 20:12] robertinant commented on #13
@marsil88 can you post your Sketch please? Also, what do you have connected to the I2C bus? Make sure that you have pull-up resistors on the I2C lines.

[2017-01-31 14:56] marsil88 commented on #13
These are the lines regarding I2C:
First I do:
`Wire.begin();`
Then in the first attempt to communicate with the sensor it hangs during endTransmission:

[code]

I do have the pull-up resistors on both lines (4K7 resistors).

[2017-02-12 17:19] rei-vilo opened #38 "Two folders contain files with same names but with different content."
Two folders contain files with same names but with different content.

* `~/Library/Energia15/packages/energia/hardware/msp432/3.8.0/variants/MSP_EXP432P401R/` (left)
* `~/Library/Energia15/packages/energia/hardware/msp432/3.8.0/cores/msp432/ti/runtime/wiring/msp432/variants/MSP_EXP432P401R/` (right)

<img width="400" alt="capture 2017-02-12 a 18 15 18" src="https://cloud.githubusercontent.com/ass

[2017-02-13 19:37] robertinant commented on #38
This should not be there. I just checked the the 3.8.0 package and the only duplicate that I see is the package directory and that should be OK. Did you happen to copy a new package over an older one?

[2017-02-13 19:45] rei-vilo commented on #38
Update was carried out through the Boards Manager.

[2017-02-13 23:57] rei-vilo commented on #38
I remove the MSP432 package and then performed a fresh install with the Boards Manager.

Everything goes fine now.

[2017-02-13 23:57] #38 closed, assigned to nobody

[2017-04-21 17:04] #16 closed, assigned to nobody

[2017-04-27 11:35] hemangjoshi37a commented on #13
Has anyone found the solution.
I am stuck on this in a big project currently.
Please someone help quickly.
Thank you.

[2017-04-27 18:27] robertinant commented on #13
As described in the post above. I am only able to reproduce this if no pullups are present.
As mentioned use the pattern as described in this post: https://github.com/energia/msp432-core/issues/13#issuecomment-271687246

[2017-04-28 21:26] rei-vilo opened #39 "Two Boards with Same Board Tag"
See https://github.com/energia/msp432r-core/issues/1

[2017-11-11 12:38] rei-vilo commented on #33
See the example and discussion for the CC3200 at http://forum.43oh.com/topic/9346-cc3200-watchdog/

Not sure it works on the MSP432.

[2017-11-16 12:17] rei-vilo commented on #33
The only caveat is the `WDT_IF_DeInit()` function doesn't seem to deactivate the watchdog.

[2017-11-17 20:38] rei-vilo opened #40 "Feature Request: EMT Closure Available Features"
Here's an example:

## MSP432 EMT on Energia 18 fails, even for the blinky example.

[code]

## MSP432 EMT on Energia 19 succeeds to compile the `SwitriggerLibrary` example.

<img width="500" alt="capture 2017-11-17 a 21 25 32" src="https://user-images.githubusercontent.com/951776/32967874-798244da-cbdf-11e7-8318-9bea2e58e0d5.png">

## Suggested solution

Add to the TI-RTOS closure a list of avail

[2017-11-22 16:46] rei-vilo commented on #40
Moved to https://github.com/energia/emt/issues/3, as all EMT-supported boards are concerned.

[2017-11-22 16:46] #40 closed, assigned to nobody

[2017-12-04 17:00] rei-vilo opened #41 "Anaren CC110L Examples Fail to Compile Against MSP432"
See https://github.com/energia/msp432r-core/issues/3

Only MSP432 is affected, not MSP432 RED.

[2017-12-05 18:32] #41 closed, assigned to nobody

[2017-12-13 14:41] rei-vilo opened #43 "Feature Request — Implement Slave I²C on MSP432"
See https://github.com/energia/msp432r-core/issues/5

[2018-02-20 12:48] dronus commented on #7
Bump again.

There are so many other issues I will file in the future that could be debugged if this issue is solved.

For example, using Arduino's `String` or C++ `std::string` breaks build for MSP432 target, and it is almost impossible to fix as long as no one knows which files actually are used for build.

[2018-02-20 22:03] robertinant commented on #7
I know this has been a last standing question to build the binary blob. However, it's a matter of priorities. I can't give you a hard promise but I might be able to put something together end of March.
With that said, which core do you have installed. This core will no longer receive feature updates, only bug fixes as it was intended for the black board which was based on preproduction. Please see

[2018-03-14 12:07] #39 closed, assigned to nobody

[2018-03-15 18:35] rei-vilo opened #44 "Regression Tests on MSP432 non-Red and MSP432 Red"
The example `LCD_LifeGame` for the Kentec 3.5" screen BoosterPack

+ crashes after 3 rounds when selecting the MSP432 LaunchPad non-Red (board package release 3.8.1), and
+ fails to run when selecting the MSP432 LaunchPad Red (board package release 5.6.1).

Selecting a small grid (_i.e._ 32 x 24) to avoid memory constraints, and slowing down the SPI speed have no impact.

[code]

Three questions:

[2018-03-15 18:52] robertinant commented on #44
The MSP432 core is legacy and is no longer maintained. If this bug also happens on the RED board then we can look at it and if the fix applies to the BLACK board then I will apply that fix there as well.

[2018-05-05 09:05] rei-vilo commented on #44
See https://github.com/energia/msp432r-core/issues/9

[2019-01-08 12:45] rei-vilo opened #45 "Remove deprecated non-red MSP432P401R LaunchPad repository"
As non-red MSP432P401R LaunchPad is deprecated, and in roder to avoid any confusion, I suggest to

+ Remove the [msp432-core](https://github.com/energia/msp432-core) repository, and

+ Keep [msp432r-core](https://github.com/energia/msp432r-core) only.

[2019-05-02 17:04] #44 closed, assigned to nobody

[2019-05-15 20:51] robertinant opened #47 "Compilation fails if sketch has - or . in the name"